/* Globales */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden; */
}

.color{
    color:#00C5F3;
}
.red {
    background-color: #E40428 !important;
}
.redText {
    color: #E40428 !important;
}
.whiteText {
    color: white !important;
}
/*
============================banner==============================
*/

#banner{
    position:relative;
}

#bannerLogo {
    position: absolute ;
}

#bannerLetra{
    position: absolute ;
}

/*
============================MENU==============================
*/
#nav {

}


.nav-link {

}
/*
============================CONTENIDO PRINCIPAL==============================
*/

#contidoPrincipal{
    min-height: 500px;
}




    /*
    ============================SECCION TRAMITES MAS DEMANDADOS==============================
    */

#TramitesDem{
    background-color: #f3f3f3;
}



/*
============================TRAMITES DEMANDADOS==============================
*/
.card{
    text-align: center;
    margin: 0 .5em;
}
.images-wrapper{
    height: 5vw;
}
.images-wrapper img{
    max-width: 100%;
    max-height: 100%;
}

@media (min-width:992px){

    #dentro{
        width: 100% !important;
    }
    .cards-wrapper{
        display: flex;
        padding-bottom: 40px;
        min-height: 100px;
    }
    #si{
        width: 100% !important;
    }
    .card{
        text-align: center;
        margin: 0 .5em;
        width: calc(100%/3);
    }

    .images-wrapper{
        height: 5vw;
    }
    .images-wrapper img{
        max-width: 100%;
        max-height: 100%;
    }

}

/*
============================SERVICIOS==============================
*/
#servicios{

}
/*
============================UBICACION==============================
*/
#seccion-direccion {

    background-color: #f3f3f3;
    display:flex;
    justify-content: center;
    padding-bottom: 80px;


}

.mapa {
    background: url(/imagenes/mapa.png);
    width:100%;
 position: relative ;
}

.logoR{
    content:url("/imagenes/LogoR.png");
}

.logoB{
    content:url("/imagenes/LogoB.png");
}

.wrapper-local {
    width:75%;
    margin-left:50px;
    padding-top:50px;
}

#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid red;
}
#numeros-local div:not(:first-child) {
    padding-left:20px;
}

#numeros-local p{
    margin:0;
}

/*=========================SOBRE NOSOTROS================================*/

#nosotros{
    ;
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;


}

#seccion-contacto{
    background-color: #E40428 !important;
    min-height:660px;
    position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/





#boton{
    color: white;
    background: #6c757d;
}


#boton-w{
    color: white;
    background: #00d82f;
    margin-bottom: 5px;
}



/*=========================FOOTER================================*/

footer {
    background-color: #E40428 !important;
    min-height: 60px;

}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

#icono-w i {
    font-size: 26px;
    padding: 0 8px;
    color:#00d82f;
}

#intro{
    width:90% !important;
    margin:auto;
}

#contactoNumero h6{
    color: white;
}




/*
============================MEDIA QUERY PANTALLA ANCHA==============================
*/


@media(max-width:991px){
    #nav {
        background-color: #E40428;
    }
    .redText {
        color: white !important;
    }

    #banner{
       margin-top: 10px;
    }

}


#container-boton2{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 12px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 2s infinite;
}


/*
============================MEDIA QUERY PANTALLA SM==============================
*/


@media(max-width:768px){
    #intro  #equipo{
        width: 90% !important;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }


    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;
    }
    #seccion-direccion {
        flex-wrap: wrap;
    }
    .mapa {
        width:95%;
        height:300px;

    }

    .wrapper-local {
        margin-bottom: 200px;
    }

    #actividades {
        width:95%;
    }

    #contenedor-formulario{
        margin-top: 90px;
        padding: 0;
        width: 90%;
    }
    #seccion-contacto{

        min-height:580px;

    }

    #nav {
        background-color: #E40428;
    }
    .redText {
        color: white !important;
    }

    #banner{
       margin-top: 10px;
    }


}

/*
============================MEDIA QUERY PANTALLA EXTRA - SM==============================
*/

@media(max-width:576px){
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    #bg-contactos{
        margin: 0;
        padding: 0;
    }

    #contenedor-formulario{
        margin-top: 90px;
        padding: 0;
        width: 90%;
    }

    #seccion-direccion{
        margin: 0;
        padding: 0;
    }

    #ubicacion{

    }
    .mapa {
        width:95%;
        height:300px;
        margin-bottom: -50px;

    }

    #nav {
        background-color: #E40428;
    }
    .redText {
        color: white !important;
    }

    #banner{
       margin-top: 10px;
    }

